@font-face {
    font-family: HVNThin;
    src: url("../assets/helvetica-neue-5/HelveticaNeueThin.otf");

    font-family: HVNRoman;
    src: url("../assets/helvetica-neue-5/HelveticaNeueRoman.otf");
  }

.global {
  font-family: HVNRoman;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.reset {  /*  This is used to overwrite bootstrap settings (particularly for fieldset and legend) */
  all: revert;
} 

#englishButton {
  background-image: url("../img/gb.svg");
  background-size: cover;
  width: 2vw;
  height: 2vh;
  margin: 0 0.5vw;
}

#frenchButton {
  background-image: url("../img/fr.svg");
  background-size: cover;
  width: 2vw;
  height: 2vh;
  margin: 0 0.5vw;
}